{deps, [
       ]}.
%%{port_specs,[
%%             {"priv/port.so", ["c_src/*.c"]}
%%            ]}.
{port_envs, [
            ]}.
{pre_hooks,[
             {compile, "gcc -o priv/ei_drv.so -I/usr/local/lib/erlang/lib/erl_interface-3.7.13/include/ -L/usr/local/lib/erlang/lib/erl_interface-3.7.13/lib/ c_src/*.c -lerl_interface -lei -lpthread"}
           ]}.
