{ deps, [
  { gen_driver, ".*",
    { git, "git://github.com/squidfunk/generic-linked-in-driver.git", "master" }
  }
]}.
{ port_specs, [
  { ".*", "priv/fdbdrv.so", [
    "deps/gen_driver/c_src/gen_driver.c", "c_src/*.c"
  ], [
    { env, [
      { "CFLAGS", "$CFLAGS -std=c99 -m64 -I deps/gen_driver/c_src -D DRIVER_NAME=fdbdrv" },
      { "LDFLAGS", "$LDFLAGS -fPIC -lrt -m64 -shared" }
    ] }
  ] }
] }.
