{ deps, [
  { gen_driver, ".*", { git, "git://github.com/squidfunk/generic-linked-in-driver.git", "master" } }
]}.
{ port_specs, [
  { ".*", "priv/test.so", [
    "deps/gen_driver/c_src/gen_driver.c", "c_src/*.c"
  ], [
    { env, [
      { "CFLAGS", "$CFLAGS -std=c99 -I /usr/include/foundationdb -I deps/gen_driver/c_src -D DRIVER_NAME=test -g" },
      { "LDFLAGS", "$LDFLAGS -L /usr/lib -lfdb_c"}
    ] }
  ] }
] }.
